.mainHost__card {
    /* height: 10em; */
    z-index: 3;


}

.mainHost__card__all {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.mainHost__card__title {
    -webkit-box-align: baseline !important;
    -webkit-box-pack: justify !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: baseline !important;
}

.mainHost__card__spans {
    padding-bottom: 2rem;
}

.mainHost__card .night {
    color: rgb(34, 34, 34) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    white-space: nowrap !important;
    padding-left: 4px !important;
}

.mainHost__card .price {
    font-size: 22px !important;
    line-height: 26px !important;
}

.mainHost__card__mainForm {
    position: relative;
    border-radius: 8px;

}

.mainForm__check {
    display: flex;
    width: 100%;
    flex: 1 1 0%;
    border: 1px solid rgb(176, 176, 176);

    border-radius: 8px 8px 0px 0px;
    inset: 0px 0px -1px;
    position: relative !important;
    display: flex !important;
    width: 100% !important;
    margin: 0px !important;
    color: rgb(34, 34, 34) !important;
    background-color: transparent !important;
    box-shadow: none !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
    /* margin-bottom: 16px !important; */
    outline: 0px !important;
}

.mainForm__check:active {
    border: 1px solid black;
}

.mainForm__check__checkIn {
    position: relative !important;
    flex: 1 1 0% !important;
    padding: 0px !important;
    width: 100% !important;
    overflow: hidden !important;
}

.check__checkIn__title {
    position: absolute !important;
    top: 12px !important;
    left: 12px !important;
    right: 12px !important;
    margin: 0px !important;
    padding: 0px !important;
    pointer-events: none !important;
    font-size: 10px !important;
    line-height: 12px !important;
    color: rgb(34, 34, 34) !important;
    text-transform: uppercase !important;
    font-weight: 800 !important;
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.check__checkIn_date {
    height: 56px !important;
    width: 100% !important;
    border: none !important;
    outline: none !important;
    margin: 0px !important;
    padding: 26px 12px 10px !important;
    background-color: transparent !important;
    font-family: inherit !important;
    font-size: 14px !important;
    font-weight: inherit !important;
    line-height: 18px !important;
    appearance: none !important;
    cursor: pointer !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    color: rgb(113, 113, 113) !important;
}

.mainForm__check__checkOut {
    position: relative !important;
    flex: 1 1 0% !important;
    padding: 0px !important;
    width: 100% !important;
    overflow: hidden !important;
    border-left: 1px solid rgb(176, 176, 176) !important;
}

.check__checkOut__title {
    position: absolute !important;
    top: 12px !important;
    left: 12px !important;
    right: 12px !important;
    margin: 0px !important;
    padding: 0px !important;
    pointer-events: none !important;
    font-size: 10px !important;
    line-height: 12px !important;
    color: rgb(34, 34, 34) !important;
    text-transform: uppercase !important;
    font-weight: 800 !important;
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.check__checkOut_date {
    height: 56px !important;
    width: 100% !important;
    border: none !important;
    outline: none !important;
    margin: 0px !important;
    padding: 26px 12px 10px !important;
    background-color: transparent !important;
    font-family: inherit !important;
    font-size: 14px !important;
    font-weight: inherit !important;
    line-height: 18px !important;
    appearance: none !important;
    cursor: pointer !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    color: rgb(113, 113, 113) !important;
}

.mainForm__guestsMain {
    /* height: 56px !important; */
    width: 100% !important;
    /* border: none !important; */
    outline: none !important;
    /* margin: 0px !important; */
    /* padding: 26px 12px 10px !important; */
    background-color: transparent !important;
    font-family: inherit !important;
    font-size: 14px !important;
    font-weight: inherit !important;
    line-height: 18px !important;
    appearance: none !important;
    cursor: pointer !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    color: rgb(113, 113, 113) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;


}

.mainForm__guests {
    position: relative !important;

    width: 100% !important;
    border-radius: 0px 0px 8px 8px;

    border: 1px solid rgb(176, 176, 176)
        /* overflow: hidden !important; */
}

.mainForm__guests:active {
    border: 1px solid black;

}

.guests__title {
    position: absolute !important;
    top: 12px !important;
    left: 12px !important;
    right: 12px !important;
    margin: 0px !important;
    padding: 0px !important;
    pointer-events: none !important;
    font-size: 10px !important;
    line-height: 12px !important;
    color: rgb(34, 34, 34) !important;
    text-transform: uppercase !important;
    font-weight: 800 !important;
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.guests__dataMain {
    height: 56px !important;
    width: 100% !important;

    outline: none !important;
    margin: 0px !important;
    padding: 26px 12px 10px !important;
    background-color: transparent !important;
    font-family: inherit !important;
    font-size: 14px !important;
    font-weight: inherit !important;
    line-height: 18px !important;
    appearance: none !important;
    cursor: pointer !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    color: rgb(113, 113, 113) !important;

}

.guests__guest {

    border: none;
    /* padding: 1.2em; */
    outline-style: none;
    outline-width: 0;
    /* border-right: 1px solid lightgray; */
    /* height: 40%; */


    width: 10vw;
}

.mainForm__button {
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    touch-action: manipulation !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 600 !important;
    border-radius: 8px !important;
    outline: none !important;
    padding: 14px 24px !important;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
    border: none !important;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    color: rgb(255, 255, 255) !important;
    width: 100% !important;
}

.availability__main {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    width: 100% !important;
    height: 100% !important;
    -webkit-mask-image: -webkit-radial-gradient(center, white, black) !important;
    overflow: hidden !important;
    border-radius: 8px !important;
}

.availability__text {
    display: block !important;
    position: relative !important;
    pointer-events: none !important;
}

@media screen and (max-width:900px) {
    .mainHost__card {
        margin: 3em auto;
    }

}