.header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* z-index: 3; */
  width: 100%;
  /* position: fixed; */
  top: 0;
  background-color: white;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.11);
  /* max-width: 10vw */
  /* overflow-x: hidden; */
}
.links li {
  font-weight: bold;
}
.links li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.header2__icon > img {
  object-fit: contain;
  height: 87px;

  /* position: relative;
    z-index: 1; */
}

.header2__icon > img:hover {
  cursor: pointer;
}

/*The center elements of the header2*/

.header2__center {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header2__center > p {
  color: black;
  font-size: 1em;
  font-weight: 600;
}

.header2__center > hr {
  border-top: 2px solid black;
  width: 3em;
  color: black;
  margin: 0 auto;
}

.header2__center__search {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  align-items: center;
  max-width: fit-content;
  padding: 1rem;
  height: 3.5rem;
  border: 1px solid lightgray;
  border-radius: 2rem;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
  background-color: white;
}


.header2__center__search:hover {
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.header2__center__search > input {
  border: none;
  text-align: center;
  font-size: 1rem;
  outline-style: none;
  outline-width: 0;
  border-right: 1px solid lightgray;
  width: 10vw;
}

.header2__center__search > input:last-of-type {
  border: 0;
}

.header2__center__search > input:hover {
  cursor: pointer;
  color: black;
}

.header2__center__search__searchIcon {
  background-color: #ff385c;
  border-radius: 50%;
  padding: 2px;
  color: white;
}

/*the right elements of the header2*/
.header2__right {
  height: 100%;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header2__right__icons {
  display: column;
  flex-direction: row;
  align-items: center;
}

.header2__right__profileIcons {
  display: flex;
  justify-content: space-between;
  border-radius: 2em;
  width: 4em;
  border: 1px solid lightgray;
  border-radius: 2em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease-in-out;
  padding: 0.6em;
  background-color: white;
  /* margin-top: 7em; */
}

.header2__right__profileIcons:hover {
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.header2__right__currency {
  display: flex;
  align-items: center;
  padding: 1em;
  margin: 0 1em;
  border-radius: 2em;
  color: black;
}

.header2__right__currency:hover {
  background-color: #a0a0a0;
  cursor: pointer;
}

.header2__right a {
  color: black;
  margin-top: 1rem;
  border-radius: 2em;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
}

.header2__right a:hover {
  text-decoration: underline;
  color: black;
}

.header2__right ul {
  background-color: white;
  text-align: left;
  margin-top: 1em;
  list-style: none;
  /* padding: 1em; */
  /* margin: 1em 4em 0 0; */
  padding: 0;
  position: absolute;
  border-radius: 1em;
  right: 1em;
  z-index: 3;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  /* padding: 24px; */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.header2__right li {
  font-size: 14px;
  line-height: 18px;
  padding: 10px 30px 10px 10px;
  margin: 10px 20px 10px 10px;
  width: 100%;
}

.header2__right > p:hover {
  background-color: #a0a0a0;

  cursor: pointer;
}

.header2__right__icons {
  margin-right: 2em;
}

.header2__right__icons hr {
  border-top: 0.05em solid lightgray;
  color: lightgray;
}



.datePicker {
  position: absolute;
  z-index: 3;
  margin-left: 20em;
  margin-top: 37em;
}

@media screen and (max-width: 1000px) {
  .header2__right {
    font-size: 15px;
  }
  .header_host_text {
    font-size: 14px;
  }
  /* .header2__icon, */
  .header2__right__currency {
    display: none;
  }
  .header2__right__icons {
    margin: 0;
  }
  .header2__right {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
  }
  .header2__center__search {
    border: 1px solid lightgray;
    font-size: 16px ;
    line-height: 20px !important;
    font-weight: 400 !important;
    background: none !important;
    color: rgb(34, 34, 34) !important;
    margin: 0px !important;
    padding: 0px 36px 0px 0px !important;
    width: 100% !important;
    text-overflow: ellipsis !important;
  }
  .header2__center__search .search_inputs{
    font-size: 0.85rem;
  }
  .header2__center {
    width: 70%;
    /* max-width: none; */
    justify-content: space-between;
  }

  .header2__center__search > input {
    width: 15vw;
      font-size: 0.8rem;
  }

  .datePicker {
    position: absolute;

    /* margin-top: 58rem; */
    right: 6em;
  }
}
@media screen and (max-width: 400px){
 .header2__center__search > input,
.header2__center__search > input::-webkit-input-placeholder {
    font-size: 0.7rem;
}

}
