.hr1 {
  width: 80%;
}

.btn-amenities {
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(34, 34, 34);
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
  color: rgb(34, 34, 34);
  text-align: center;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif !important;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.reviews,
.location {
  margin-left: 5.5rem;
}
/* .details-sec {
  margin-right: 8rem;
} */

.hr-lg {
  width: 90%;
}

.reviews a {
  text-decoration: none;
  color: black;
}

.reviews a:hover {
  text-decoration: underline;
  color: black;
}
.mainHost__Details2 {
  padding-right: 4rem;
}
@media screen and (max-width: 768px) {
  .reviews,
  .location {
    margin-left: 2rem;
  }
}
