

.accHeader__location {
  font-size: 14px;
  line-height: 20px;
  color: rgb(113, 113, 113) !important;
  text-decoration: none;
}

.accHeader a {
  text-decoration: none;
  color: black;
}

.accHeader a:hover {
  text-decoration: underline;
  color: black;
}

.accHeader__image {
  margin-top: 3em;
  object-fit: cover;
  vertical-align: bottom;
}

hr {
  border: 1px solid lightgray;
}
.hr1 {
  width: 80%;
}

.reviews,
.location {
  margin-left: 5.5rem;
}

.hr-lg {
  width: 90%;
}

.reviews a {
  text-decoration: none;
  color: black;
}
.accHeader__image {
  width: 100%;
}
.reviews a:hover {
  text-decoration: underline;
  color: black;
}
.mainHost__Details2 {
  padding-right: 4rem;
}
@media screen and (max-width: 768px) {
  .reviews,
  .location {
    margin-left: 2rem;
  }
  .accHeader__title {
    font-size: 22px;
  }
}
