.Homefooter {
  background-color: #f7f7f7;
  border-top: 1px solid #dddddd;
  /*for the map*/
  position: relative;
  margin-top: 5px !important;
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__links ul,
.footer__end ul {
  list-style: none;
  padding: 0;
}

.footer__links li,
.footer__end li {
  font-size: 14px;
  line-height: 18px;
  margin-top: 1rem;
}

.footer__links h4 {
  font-size: 12px;
}

.footer__links a,
.footer__end a {
  text-decoration: none;
  color: black;
}

.footer__links a:hover,
.footer__end a:hover {
  text-decoration: underline;
  color: black;
}

.footer__end {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #dddddd;
  align-items: center;
  justify-content: space-around;
}

.footer__end ul {
  display: inline-flex;
}

.footer__end li {
  margin-left: 1em;
}

.footer__end__last {
  display: flex;
  align-items: center;
}

.footer__end__last__language {
  display: flex;
  align-items: center;
  /* margin-top: 1em; */
}
.footer__links__about ul li h4,
.footer__links__community ul li h4,
.footer__links__host ul li h4,
.footer__links__support ul li h4 {
  font-weight: bold !important;
}

@media screen and (max-width: 669px) {
  .footer,
  .footer__links,
  .footer__end {
    flex-direction: column;
  }
  .Homefooter {
    margin-bottom: 65px;
  }
  .footer__copyright {
    padding-bottom: 1rem !important;
  }
}
@media screen and (max-width: 768px) {
  .footer__links__about,
  .footer__links__community,
  .footer__links__host,
  .footer__links__support {
    display: flex;
    align-items: left;
    justify-content: left;
    padding-left: 1.5rem;
    border-bottom: 1px solid #dddddd;
  }
  .footer__copyright {
    padding-bottom: 4.5rem;
  }
}
